<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="card">
        <img src="https://source.unsplash.com/1600x800/?concert" alt="" class="card-img">
        <h2>Register for the next live event</h2>
        <form action="/register" method="post">
            <input type="text" name="name" placeholder="Enter your Name">
            <input type="email" name="email" placeholder="Enter your Email">
            <button type="submit" class="btn">Register Now</button>
        </form>
    </div>
</body>
</html>