@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');
*{
    font-family: 'Inter', sans-serif;
}
.text-center{
    text-align: center;
}


/* box model, display, overflow */


/* box model
border -> thickness style(solid, dotted, dashed) color;
padding-> spacinf inside the box;
margin
*/

/* .box{
    border: 6px solid green;
    padding: 30px;
    margin: 30px;
} */

.box{
    border: 6px solid green;
    /* padding-top: 30px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 30px; */
    /* padding:30px 10px; */
    padding: 50px 30px 20px 0;
    margin:50px 20px 0 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: none;

}

.bg-green{
    background-color: rgb(118, 255, 118);
}

.card{
    background-color: rgb(59, 121, 255);
    border:2px solid rgb(59, 121, 255);
    border-radius: 16px;
    padding: 10px;
    width: 520px;
    color: white;
    display: block;
    height: 400px;
    overflow: hidden;
    margin:12px;
    
}


.btn{
    background-color: white;
    color: rgb(59, 121, 255);
    border: none;
    padding: 10px 34px;
    border-radius: 44px;
}

.card-img{
    width: 100%;
    border-radius: 16px;
}
.card-title{
    font-size: 32px;
    margin-bottom: 30px;
}
.card-desc{
    font-size: 14px;
    margin-top:6px 0 20px 0;
}

.tag{
    background-color: rgba(255, 255, 255, 0.358);
    font-size: 14px;
    /* display: inline-block; */
    color: white;
    padding: 2px 12px;
    border-radius: 44px;
    margin: 10px 0 0 0;
}


/* display: 
block -> display block default;
none -> hide the element;
inline -> element is covering minimum space;
inline-block -> element is covering minimum space and display block;
*/


.food-card{
    border:2px solid lightgray;
    border-radius: 16px;
    padding: 10px;
    width: 520px;
    margin: 12px;
}
.btn-dark{
    background-color: rgb(59, 121, 255);
    color: white;
    border: none;
    padding: 10px 34px;
    border-radius: 44px;
    ;
}

.container{
    display:flex;
    justify-content: center;
}
.support{
    position: fixed;
    bottom: 0;
    /* top:0; */
    right: 0;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 34px;
    border-radius: 44px;
    cursor: pointer;
    margin: 40px;
}
.heading{
    position: sticky;
    top:0;
    margin:20px 0;
    background-color: #fff;

}

.food-tag{
    position: absolute;
    /* right: 0; */
    bottom:0;
    margin:20px;
    background-color: #fff;
    padding:2px 8px;
    border-radius: 30px;
    font-size: 14px;
    /* color:#fff;
    font-size: 30px;
    top:0; */
}
.position-ralative{
    position: relative;
}

.food-card1{
    border:2px solid lightgray;
    border-radius: 16px;
    padding: 10px;
    width: 520px;
    margin: 12px;
}